:root {
  --c-primary: rgba(255, 115, 93, 1);
  --c-secondary: rgba(55, 90, 100, 1);
  --c-white: rgba(255, 255, 255, 1);
  --c-lgray: rgba(245, 245, 245, 1);

  --c-black: rgba(30, 30, 30, 1);
  --c-black-alpha: rgba(30, 30, 30, .5);
  --c-facebook: rgba(59, 89, 152, 1);

  --b-shadow-menu: rgba(70, 70, 70, .5);

  --z-under: -1;
  --z-fixed: 20;
  --z-overflow: 10;
}
