:root {
  --c-primary: rgba(255, 115, 93, 1);
  --c-primary-darker: rgba(178, 80, 65, 1);

  --c-secondary: rgba(55, 90, 100, 1);
  --c-white: rgba(255, 255, 255, 1);
  --c-lgray: rgba(245, 245, 245, 1);
  --c-gray: rgba(113, 113, 113, 0.6);

  --c-black: rgba(30, 30, 30, 1);
  --c-black-alpha: rgba(30, 30, 30, .6);
  --c-facebook: rgba(59, 89, 152, 1);

  --b-shadow-menu: rgba(70, 70, 70, .5);

  --c-cal-open: rgba(56, 161, 105, 1);
  --c-cal-reservation: rgba(229, 62, 62, 1);

  --c-form-succes: rgba(56, 161, 105, 1);
  --c-from-error: rgba(229, 62, 62, 1);

  --z-under: -1;
  --z-top: 1;
  --z-navbar: 10;
  --z-overlayer: 20;
  --z-menu: 40;
  --z-modal: 60;
}
