:root {
  --c-primary: rgba(255, 115, 93, 1);
  --c-primary-darker: rgba(178, 80, 65, 1);

  --c-secondary: rgba(55, 90, 100, 1);
  --c-white: rgba(255, 255, 255, 1);
  --c-lgray: rgba(245, 245, 245, 1);
  --c-gray: rgba(113, 113, 113, 0.6);

  --c-black: rgba(30, 30, 30, 1);
  --c-black-alpha: rgba(30, 30, 30, .6);
  --c-facebook: rgba(59, 89, 152, 1);

  --b-shadow-menu: rgba(70, 70, 70, .5);

  --c-cal-open: #38a169;
  --c-cal-reservation: #e53e3e;

  --z-under: -1;
  --z-fixed: 20;
  --z-upper: 40;
  --z-overflow: 10;
}
