@import '/assets/css/--mixins';
@import '/assets/css/--root';
@import '/assets/css/--variables';

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  color: var(--c-black);
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  &-fluid {
    width: 100%;
  }

  @include breakpoint-to('desktop') {
    padding: 0 1rem;
  }

  @each $name, $width in $containers {
    @include breakpoint-to(#{$name}) {
      max-width: #{$width};
    }
  }
}

.row {
  margin: 0 -1rem;
}

a {
  text-decoration: none;
  color: var(--c-primary-darker);
  cursor: pointer;
  @include hover-underline(var(--c-primary));
}

ul,
ol {
  @include reset-list;
}

img {
  display: block;
  max-width: 100%;
}

.title {
  color: var(--c-black-alpha);
  font-size: 1.5rem;

  @include breakpoint-to('desktop') {
    font-size: 2rem;
  }
}

form {
  label {
    color: var(--c-black-alpha);
  }
}