.button-close {
  @include reset-button;
  height: 80px;
  width: 80px;
  margin: -1.5rem -1.5rem -1.5rem 0;
  position: relative;

  svg {
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    position: absolute;
  }

  .hamburger {
    filter: url(#gooeyness);
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;  }
  .x {
    transform: scale(0);
    transition: transform 400ms;

    .line {
      stroke-width: 5.5px;
    }
  }
  .line {
    transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
  }
  .line1 {
    stroke-dasharray: 21 102;
  }
  .line2 {
    stroke-dasharray: 21 92;
  }
  .line3 {
    stroke-dasharray: 21 97;
  }
  .line4 {
    stroke-dasharray: 21 97;
  }
  .line5 {
    stroke-dasharray: 21 92;
  }
  .line6 {
    stroke-dasharray: 21 102;
  }
  .x {
    left: 0;
    top: 0;
    transform: scale(0);
    transition: all 400ms;
  }

  &--active {
    .line {
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
    }
    .line1 {
      stroke-dasharray: 2 102;
      stroke-dashoffset: -102px;
    }
    .line2 {
      stroke-dasharray: 2 92;
      stroke-dashoffset: -92px;
    }
    .line3 {
      stroke-dasharray: 2 97;
      stroke-dashoffset: -97px;
      transition-delay: 20ms;
    }
    .line4 {
      stroke-dasharray: 2 97;
      stroke-dashoffset: -97px;
      transition-delay: 20ms;
    }
    .line5 {
      stroke-dasharray: 2 92;
      stroke-dashoffset: -90px;
      transition-delay: 40ms;
    }
    .line6 {
      stroke-dasharray: 2 102;
      stroke-dashoffset: -100px;
      transition-delay: 40ms;
    }
    .x {
      left: 0;
      top: -1px;
      transform: scale(1);
      transition: all 400ms 50ms;
    }
  } 
}