.input {
  $self: &;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;

  @include breakpoint-to('mobile-xlarge') {
    margin-bottom: 1.5rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;

    span {
      color: var(--c-from-error);
      margin-right: 0.25rem
    }
  }

  input {
    @include reset-input;
      
    &:focus {
      border-color: var(--primary-color);
    }

    &[type="number"] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      -moz-appearance: textfield;
    }
  }

  &__file {
    input {
      width: 0;
      height: 0;
      min-height: 0;
      display: none
    }

    label {
      @include reset-input;
      cursor: pointer;
      display: flex;
      align-items: center;

      div {
        display: inline-flex;
        white-space: nowrap;
      }

      span {
        margin-left: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 1rem;
        color: var(--c-black)
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    right: 0;
    top: 0;
    height: 3rem;

    &--success {
      color: var(--c-form-succes);
    }

    &--error {
      color: var(--c-from-error);
      font-weight: 500;
    }
  }

  &__message {
    font-size: 0.75rem;
    padding-left: 1rem;
  }

  &.has-error {
    input {
      border-color: var(--c-from-error);
      color: var(--c-from-error);

      &:focus {
        border-color: var(--c-from-error);
      }
    }

    #{$self}__message {
      color: var(--c-from-error);
    }

    #{$self}__file {
      label {
        border-color: var(--c-from-error);
        color: var(--c-from-error);
      }
    }
  }

  &.success {
    input {
      border-color: var(--c-form-succes);

      &:focus {
        border-color: var(--c-form-succes);
      }
    }

    #{$self}__message {
      color: var(--c-form-succes);
    }

    #{$self}__file {
      label {
        border-color: var(--c-form-succes);

        &:focus {
          border-color: var(--c-form-succes);
        }
      }
    }
  }
}