.input {
  $self: &;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;

  @include breakpoint-to('mobile-xlarge') {
    margin-bottom: 1.5rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;

    span {
      color: var(--c-from-error);
      margin-right: 0.25rem
    }
  }

  input {
    @include reset-input;
      
    &:focus {
      border-color: var(--primary-color);
    }
  }

  &__inner {
    position: relative;
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    right: 0;
    top: 0;
    height: 3rem;

    &--success {
      color: var(--c-form-succes);
    }

    &--error {
      color: var(--c-from-error);
      font-weight: 500;
    }
  }

  &__message {
    font-size: 0.75rem;
    padding-left: 1rem;
  }

  &__select {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-modal);
    background-color: var(--c-white);
    overflow-y: auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;

    span {
      display: block;
      margin-bottom: 2rem;
    }

    div {
      letter-spacing: 1px;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }

  &.has-error {
    input {
      border-color: var(--c-from-error);
      color: var(--c-from-error);

      &:focus {
        border-color: var(--c-from-error);
      }
    }

    #{$self}__message {
      color: var(--c-from-error);
    }
  }

  &.success {
    input {
      border-color: var(--c-form-succes);

      &:focus {
        border-color: var(--c-form-succes);
      }
    }

    #{$self}__message {
      color: var(--c-form-succes);
    }
  }
}